<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testing Application</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body>
<div class="container text-center">
    <h2>Commission Test Generator</h2>
    <form th:action="@{/commission/generate}" method="get" th:object="${commission}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group">
                <label for="fromLock">Enter range for Lock from: </label>
                <input inputmode="numeric" type="number" id="fromLock" name="fromLock" min="1" max="60">
                <label for="toLock">to: </label>
                <input inputmode="numeric" type="number" id="toLock" name="toLock" max="60"><br><br>
            </div>
            <div class="form-group">
                <label for="fromStock">Enter range for Stock from: </label>
                <input inputmode="numeric" type="number" id="fromStock" name="fromStock" min="1" max="70" >
                <label for="toStock">to: </label>
                <input inputmode="numeric" type="number" id="toStock" name="toStock" max="70"><br><br>
            </div>
            <div class="form-group">
                <label for="fromBarrel">Enter range for Barrel from: </label>
                <input inputmode="numeric" type="number" id="fromBarrel" name="fromBarrel" min="1" max="80">
                <label for="toBarrel">to: </label>
                <input inputmode="numeric" type="number" id="toBarrel" name="toBarrel" max="80"><br><br>
            </div>
            <div class="form-group row">
                <select class="custom-select" id="inputGroupSelect02" name="testType">
                    <option value="normal" selected>Normal BVA</option>
                    <option value="robust">Robust BVA</option>
                </select>
            </div>
            <button type="submit">Generate Test Cases</button>
            <a th:href="@{/}">
                <button type="button">Home</button>
            </a>
        </div>
    </form>
    <br>
    <table id="testCasesTable" class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Test Case</th>
            <th>Locks</th>
            <th>Stocks</th>
            <th>Barrels</th>
            <th>Expected Output</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="commission : ${commissions}">
            <tr>
                <td>[[${commission.id}]]</td>
                <td>[[${commission.totalLocks}]]</td>
                <td>[[${commission.totalStocks}]]</td>
                <td>[[${commission.totalBarrales}]]</td>
                <td>[[${commission.commission}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script src="/custom.js"></script>
</html>