<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testing Application</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/custom.js}">
</head>
<body>
<div class="container text-center">
    <h2>Triangle Test Generator</h2>
    <form th:action="@{/triangle/generate}" method="get" th:object="${triangle}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label for="from">Enter range from: </label>
                <input type="number" id="from" name="from">
                <label for="to">to: </label>
                <input type="number" id="to" name="to"><br><br>
            </div>
            <div class="form-group row">
                <select class="custom-select" id="inputGroupSelect02" name="testType">
                    <option selected>Choose...</option>
                    <option value="normal">Normal BVA</option>
                    <option value="robust">Robust BVA</option>
                </select>
            </div>
            <button type="submit">Generate Test Cases</button>
            <a th:href="@{/index}">
                <button type="button">Home</button>
            </a>
        </div>
    </form>
    <br>
    <table id="testCasesTable" class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Test Case</th>
            <th>Side A</th>
            <th>Side B</th>
            <th>Side C</th>
            <th>Expected Output</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="triangle : ${triangles}">
            <tr>
                <td>[[${triangle.id}]]</td>
                <td>[[${triangle.side1}]]</td>
                <td>[[${triangle.side2}]]</td>
                <td>[[${triangle.side3}]]</td>
                <td>[[${triangle.type}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>