<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Testing Application</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container text-center">
    <h2>Triangle Test Generator</h2>
    <div class="row">
        <div class="col justify-content-center">
            <form th:action="@{/triangle/generate}" method="get" th:object="${triangle}">
                <div class="border border-secondary rounded p-3">
                    <div class="form-group">
                        <label for="from">Enter range from: </label>
                        <input type="number" id="from" name="from" inputmode="numeric" min="10" max="220">
                        <label for="to">to: </label>
                        <input type="number" id="to" name="to" inputmode="numeric" max="220"><br><br>
                    </div>
                    <div class="form-group">
                        <select class="custom-select" id="inputGroupSelect02" name="testType">
                            <option value="normal" selected>Normal BVA</option>
                            <option value="robust">Robust BVA</option>
                        </select>
                    </div>
                    <button class="generate" type="submit">Generate Test Cases</button>
                    <a th:href="@{/}">
                        <button type="button">Home</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <br>
    <table id="testCasesTable" class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Test Case</th>
            <th>Side A</th>
            <th>Side B</th>
            <th>Side C</th>
            <th>Expected Output</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="triangle : ${triangles}">
            <tr>
                <td>[[${triangle.id}]]</td>
                <td>[[${triangle.side1}]]</td>
                <td>[[${triangle.side2}]]</td>
                <td>[[${triangle.side3}]]</td>
                <td>[[${triangle.type}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script src="/custom.js"></script>
</html>